body, html {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url('rss-icon.png') left bottom no-repeat #0d3c37;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}
.content {
	text-align: center;
	padding-top: 15%;
}
.hero-text {
	font-size: 3.5em;
	margin-top: 0;
}
.hero-text>span {
	color: #39e3c5;
	font-weight: 300;
	display: block;
}
.subscribe-link {
	display: inline-block;
	padding: 5px 0px;
	font-size: 1.5em;
	border-bottom: 3px solid #39e3c5;
}
.footer-center {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}
.footer-center>a {
	display: inline-block;
}
.footer-center>a::before {
	content: "\2022";
	margin: 0 5px;
}
.footer-center>a:first-child::before {
	content: '';
}
form {
	display: inline-block;
	padding: 20px;
	padding-bottom: 17px;
	border-radius: 3px;
	width: 500px;
	margin: 0 auto;
	background: #fff;
}
.input {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc;
}
.btn {
	display: inline-block;
	background: transparent;
	border: none;
	float: right;
	cursor: pointer;
	color: #0d3c37;
	border-bottom: 3px solid transparent;
}
.btn:hover {
	border-bottom-color: #39e3c5
}