{% extends "base.html" %}

{% block body %}
	<div class="content">
		<form action="" method="post" class="link-card">
			<input class="input" type="url" placeholder="Link" name="url" value="{{
			request.form.url }}" required />
			<input class="input" type="text" placeholder="Custom title (optional) " name="title" value="{{
			request.form.title }}"  />
			<input class="input" type="text" placeholder="Description (optional)" name="description" value="{{
			request.form.description }}" />
			<input class="btn btn-default" type="submit" value="Add Item">
		</form>
		{% if error %}
		<p class="error"><strong>Message:</strong> {{ error }}
		{% endif %}
		</p>
	</div>
	<div class="footer-center">
	    <a href="{{url_for('index')}}">Home</a>
		<a href="https://github.com/anirudhvarma12/refeed" target="_blank">Powered by Refeed </a>
	</div>
{% endblock %}