<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<div class="content">
		<h1 class="hero-text">{{ count }} <span>articles shared</span></h1>	
		<a class="subscribe-link" href="{{url_for('get_feed')}}">Subscribe to {{ title }}</a>
	</div>
	<div class="add-link">
		<a href="{{url_for('add')}}"><span>Add a link</span>+</a>
	</div>
</body>
</html>