{% extends "base.html" %}

{% block body %}
		<div class="main">
			<div class="pagination">
				{% if prev_page %}
				<a href="{{ url_for('index', page=prev_page ) }}">Previous</a>
				{% endif %}
				{% if new_page %}
				<a href="{{ url_for('index', page=new_page) }}">Next</a>
				{% endif %}
			</div>
			<ul class="link-list">
				{% for item in feeds %}
				<li class="link-item">
					<div class="link-card">
						<div class="link-content">
							<div>{{ item.title }}</div>
						</div>
						<span class="link-author">added by {{ item.user_id }}</span><a class="link-url" target="_blank" href="{{ item.url }}">Open</a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="footer-center">
			<a href="{{url_for('add')}}">Add Link</a>
			<a href="https://github.com/anirudhvarma12/refeed" target="_blank">Powered by Refeed </a>
		</div>
{% endblock %}