{% extends "base.html" %}

{% block body %}
    <div class="content">
        <form action="" method="post" class="link-card">
            <input class="input" type="text" placeholder="Username" name="username" value="{{
            request.form.username }}" required />
            <input class="input" type="password" placeholder="Password" name="password" value="{{
            request.form.password }}" required />
            <input class="btn btn-default" type="submit" value="login">
        </form>
        {% if error %}
        <p class="error"><strong>Message:</strong> {{ error }}
        {% endif %}
        </p>
    </div>
    <div class="footer-center">
        <a href="{{url_for('index')}}">Home</a>
        <a href="https://github.com/anirudhvarma12/refeed" target="_blank">Powered by Refeed </a>
    </div>
{% endblock %}